<a href="https://colab.research.google.com/github/advantgarde/Data-Analytics-Microcredential/blob/main/Python%20Projects/Daniel_Li_Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
#list of animals

In [105]:
animals_morphs = ['tiger', 'bear', 'gorilla', 'wolf', 'hawk']

## 2.	Print out those variables by using a for loop

In [ ]:
#loop through animal list and prints results

In [106]:
for animal in animals_morphs:
  print(animal)

tiger
bear
gorilla
wolf
hawk

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
#adding a sentence to each result when looping through the list

In [107]:
for animal in animals_morphs:
  print("The Animorphs can turn into a " + animal.upper() + "!")

The Animorphs can turn into a TIGER!
The Animorphs can turn into a BEAR!
The Animorphs can turn into a GORILLA!
The Animorphs can turn into a WOLF!
The Animorphs can turn into a HAWK!

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
#print even numbers by setting a range and deciding the increment

In [108]:
for num in range(2, 21, 2):
  print(num)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:
#use the sort() function to put the list in alphabetical order

In [109]:
animals_morphs.sort()

In [110]:
print(animals_morphs)

['bear', 'gorilla', 'hawk', 'tiger', 'wolf']

## 6.	Print out the first three elements of your list.

In [ ]:
#use the slice function to print sections of your list

In [111]:
print(animals_morphs[:3])

['bear', 'gorilla', 'hawk']

## 7.	Create a loop to print the last 2 elements of your list.

In [167]:
#loop through the list and if the index of x is true (could also be any index from 0 - 4), print a slice of the list starting from the back
for x in animals_morphs:
  if animals_morphs.index(x) == True:
   print(animals_morphs[-2:])

['tiger', 'wolf']

In [ ]:
#use the slice function again but this time use negative to indicate starting from back of the list

In [25]:
#not for loop but short cut
print(animals_morphs[-2:])

['tiger', 'wolf']