<a href="https://colab.research.google.com/github/advantgarde/Data-Analytics-Microcredential/blob/main/Python%20Projects/Daniel_Li_Unit3_NumPy_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assignment #1

## 1. Environment Set up

In [4]:
#import the NumPy library
import numpy as np

In [5]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

## 2.	Find country with maximum gold

In [12]:
#Returns the index of the maximum value in array
np_olympic_country_Gold.argmax()

3

In [11]:
#Returns the country in the corresponding index of the max result (3)
np_olympic_country[np_olympic_country_Gold.argmax()]

'US'

## 3.	Find countries with more than 20 gold medals

In [51]:
#solution 1 
#loop through country Gold array and if greater than 20
#convert array to list and find the index of values greater than 20
#print corresponding index in olympic country array

for x in np_olympic_country_Gold:
  if x > 20:
    L = list(np_olympic_country_Gold).index(x)
    print(np_olympic_country[L])

GBR
China
RUS
US

In [73]:
#solution 2 (quicker)
#create top countries variable to store number of gold medals greater than 20
#show data elements which fit the criteria (Boolean array)

top_countries = np_olympic_country_Gold > 20
top_countries

array([ True,  True,  True,  True, False, False, False])

In [72]:
#send "top countries" as argument to np_olympics_country object 

print(np_olympic_country[top_countries])

['GBR' 'China' 'RUS' 'US']